* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
    --skyBlue : rgb(56, 186, 238);
}

.main-text {
  text-align: center;
  margin: 10px;
  color: rgb(9, 171, 235);
  text-transform: uppercase;
}

.all-links {
  color: rgb(9, 171, 235);
  text-decoration: none;
  margin-left: 5px;
}

.error {
  font-size: 14px;
  text-align: center;
  margin: 10px;
  color: red;
}

.list-items {
  list-style-type: none;
}
