/* login and register ui  */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  width: 100%;
}

.main-container .nav-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  background: white;
  width: 350px;
  border-radius: 20px;
}

.main-container .nav-container .input-field {
  height: 30px;
  width: 100%;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 10px;
  border-bottom: 2px solid var(--skyBlue);
  margin-bottom: 20px;
}

.main-container .nav-container .cm-btn {
  padding: 8px;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  outline: none;
  background: var(--skyBlue);
  color: white;
  font-weight: 600;
  border-radius: 20px;
}

.main-container .nav-container .cm-btn:hover {
  background: gray;
}

.main-container .nav-container .account-link {
  margin: 20px 0px;
  text-align: center;
  font-size: 14px;
}

/* -------------------- login and register ui ------------------- */

/* navbar css code */

.navbar{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: white;
    border-bottom: 1px solid var(--skyBlue);

}

.navbar ul, .navbar .links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.navbar .logo{
    font-size: 20px;
    font-weight: 700;
    color: var(--skyBlue);
}

.navbar .links ul li {
    padding: 10px;
}

.navbar .links span{
    padding: 10px;
}



/* footer */
.footer{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--skyBlue);
}

.footer .footer-logo{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
}





